# Beten nach Daten: statistiche Übersichten betr. Datum, Format und Entstehungsort

<a href="https://colab.research.google.com/github/oriflamms/LivreQuanti2023/blob/main/DataModelling/Zeit-Raum-Dimensionen-Deutschland.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Environment

In [2]:
import os, pandas as pd, numpy as np
from urllib.request import urlopen

from scipy.stats import chi2_contingency
print(os.getcwd())
# os.chdir('Seafile/Seafile/HORAE-Daten-Übung')
# print(os.getcwd())
# Set the maximum number of rows and columns to display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

C:\Users\stutzmann\Github\LivreQuanti2023\DataModelling

# Data (capta)

## Load data and check contents

In [5]:
'''
file_url_1 = 'https://github.com/oriflamms/LivreQuanti2023/raw/main/DataModelling/Export_stutzmann_horae_t53_Manuscript_rich_20231109.xlsx'
file_url_2 = 'https://raw.githubusercontent.com/oriflamms/LivreQuanti2023/main/DataModelling/t53_Manuscript_Country.csv'
file_content_1 = urlopen(file_url_1).read().decode('utf-8')
file_content_2 = urlopen(file_url_2).read().decode('utf-8')
'''

"\nfile_url_1 = 'https://github.com/oriflamms/LivreQuanti2023/raw/main/DataModelling/Export_stutzmann_horae_t53_Manuscript_rich_20231109.xlsx'\nfile_url_2 = 'https://raw.githubusercontent.com/oriflamms/LivreQuanti2023/main/DataModelling/t53_Manuscript_Country.csv'\nfile_content_1 = urlopen(file_url_1).read().decode('utf-8')\nfile_content_2 = urlopen(file_url_2).read().decode('utf-8')\n"

In [ ]:
#df = pd.read_excel('./Export_stutzmann_horae_t53_numformat.xlsx', sheet_name='Capta')
df = pd.read_excel('./Export_stutzmann_horae_t53_Manuscript_rich_20231109.xlsx', sheet_name='Tabelle2')

In [211]:
print(df.shape)
print(list(df.columns))
df.head()

(8916, 33)
['Manuscript H-ID', 'repository_key (Organisation) H-ID', 'repository_key (Organisation) Record Title', 'idno', 'altIdentifier', 'idMedium', 'msItem H-ID', 'rec_Title_2', 'Work H-ID', 'Work Record Title', 'number of volume', 'support', 'extent', 'leaf dimensions : height (mm)', 'leaf dimensions : width (mm)', 'justification : height (mm)', 'justification : width (mm)', 'columns', 'writtenLines', 'script type', 'formality', 'origDate', 'origDate : from', 'origDate : to', 'origDate : proposed date', 'origPlace (relationship marker) H-ID', 'origPlace (relationship marker) Record Title', 'origPlace : proposed origin', 'iiif manifest', 'bibl H-ID', 'bibl Record Title', 'external link (Web site / page) H-ID', 'external link (Web site / page) Record Title']

,Manuscript H-ID,repository_key (Organisation) H-ID,repository_key (Organisation) Record Title,idno,altIdentifier,idMedium,msItem H-ID,rec_Title_2,Work H-ID,Work Record Title,number of volume,support,extent,leaf dimensions : height (mm),leaf dimensions : width (mm),justification : height (mm),justification : width (mm),columns,writtenLines,script type,formality,origDate,origDate : from,origDate : to,origDate : proposed date,origPlace (relationship marker) H-ID,origPlace (relationship marker) Record Title,origPlace : proposed origin,iiif manifest,bibl H-ID,bibl Record Title,external link (Web site / page) H-ID,external link (Web site / page) Record Title
0,433,739889,"Montréal, McGill University Library (Organisat...",101,NaN,100086833.0,737250,"Montréal, McGill University Library, 101 : Hou...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,053 ff. (CCLL)|53 ff.,NaN,NaN,98,60,1.0,NaN,NaN,NaN,NaN,1470|1450,1470|1480,NaN,37509,Brugge (Place),Bruges,NaN,352571|737330,"De Ricci et Wilson 1935-1937, II, p. 2212|Dunn...",325568,"McGill Digital Library, http://digital.library..."
1,734419,740297,"Maastricht, Regionaal Historisch Centrum Limbu...",ms. 48,NaN,NaN,735336,"Maastricht, Regionaal Historisch Centrum Limbu...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,105 ff. (paginated: 1-204),177,131,101,70,1.0,17.0,Textualis,NaN,NaN,1451,1475,third quarter 15th century,37669,Hainaut (Place),NaN,NaN,736662|736663,"Wouters 1962, no. 95|Cat. Monnikenwerk, no. 30",735403,"MMDC, http://www.mmdc.nl/static/site/search/de..."
2,6513,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Typ 0464,NaN,NaN,715768,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,147 ff. (CCLL)|ff. 147,116,88,64,45,1.0,NaN,Cursiva,NaN,NaN,1480,1500,c. 1475-80,38142,Bourges (Place),"Bourges, France",https://iiif.lib.harvard.edu/manifests/drs:497...,354463|351329|741031|741991|742134,"1983, Cambridge (Mass), p. 34 n° 16, fig.|Bond...",741340,"Digital Scriptorium, http://ds.lib.berkeley.ed..."
3,6494,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Typ 1000,NaN,NaN,715765,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,"ff.162 ( numbered ff. 171, lacking ff. 144, 14...",83,57,54,36,NaN,NaN,Humanistique,NaN,NaN,1501,1550,c. 1500-10,38068,Venezia (Place),"Venice, Italy",https://iiif.lib.harvard.edu/manifests/drs:103...,741003|742210,"Boston 2016, p. 294 n° 234|Mariani Canova 1975",741328,"Digital Scriptorium, http://ds.lib.berkeley.ed..."
4,6456,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Lat 017,NaN,NaN,715762,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,141 ff. (CCLL),200,132,NaN,NaN,1.0,NaN,Hybrida,NaN,NaN,1476,1500,NaN,37638,France (Place),NaN,https://iiif.lib.harvard.edu/manifests/drs:108...,356441|357556|349972|742148|742106|742300,"Light 1995, p. 23-29, pl. 31|1983, Cambridge (...",741221,"Digital Scriptorium, http://ds.lib.berkeley.ed..."

In [212]:
print(df['leaf dimensions : height (mm)'].dtypes)
# print(df['leaf dimensions : height (mm)'].unique())
print(df['origDate'].dtypes)
# print(df['origDate'].unique())
print(df['origDate : from'].dtypes)
# print(df['origDate : from'].unique())
print(df['origDate : to'].dtypes)
# print(df['origDate : to'].unique())

object
object
object
object

In [213]:
df_country = pd.read_csv('test/t53_Manuscript_Country.csv', sep=';')
df_country.head()

,Manuscript H-ID,rec_Title,origPlace (relationship marker) H-ID,Country
0,1,"Admont, Stiftsbibliothek, 876b",NaN,NaN
1,2,"Göttweig, Stiftsbibliothek, 450 (235)",NaN,NaN
2,3,"Göttweig, Stiftsbibliothek, 452 (237)",NaN,NaN
3,4,"Göttweig, Stiftsbibliothek, 453 (238)",NaN,NaN
4,5,"Göttweig, Stiftsbibliothek, Sn 1",NaN,NaN

In [214]:
# Merge dataframes based on "Manuscript H-ID"
df = pd.merge(df, df_country[['Manuscript H-ID', 'Country']], on='Manuscript H-ID', how='left')

df.shape

(8916, 34)

In [215]:
df.head()

,Manuscript H-ID,repository_key (Organisation) H-ID,repository_key (Organisation) Record Title,idno,altIdentifier,idMedium,msItem H-ID,rec_Title_2,Work H-ID,Work Record Title,number of volume,support,extent,leaf dimensions : height (mm),leaf dimensions : width (mm),justification : height (mm),justification : width (mm),columns,writtenLines,script type,formality,origDate,origDate : from,origDate : to,origDate : proposed date,origPlace (relationship marker) H-ID,origPlace (relationship marker) Record Title,origPlace : proposed origin,iiif manifest,bibl H-ID,bibl Record Title,external link (Web site / page) H-ID,external link (Web site / page) Record Title,Country
0,433,739889,"Montréal, McGill University Library (Organisat...",101,NaN,100086833.0,737250,"Montréal, McGill University Library, 101 : Hou...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,053 ff. (CCLL)|53 ff.,NaN,NaN,98,60,1.0,NaN,NaN,NaN,NaN,1470|1450,1470|1480,NaN,37509,Brugge (Place),Bruges,NaN,352571|737330,"De Ricci et Wilson 1935-1937, II, p. 2212|Dunn...",325568,"McGill Digital Library, http://digital.library...",Belgium
1,734419,740297,"Maastricht, Regionaal Historisch Centrum Limbu...",ms. 48,NaN,NaN,735336,"Maastricht, Regionaal Historisch Centrum Limbu...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,105 ff. (paginated: 1-204),177,131,101,70,1.0,17.0,Textualis,NaN,NaN,1451,1475,third quarter 15th century,37669,Hainaut (Place),NaN,NaN,736662|736663,"Wouters 1962, no. 95|Cat. Monnikenwerk, no. 30",735403,"MMDC, http://www.mmdc.nl/static/site/search/de...",Belgium
2,6513,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Typ 0464,NaN,NaN,715768,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,147 ff. (CCLL)|ff. 147,116,88,64,45,1.0,NaN,Cursiva,NaN,NaN,1480,1500,c. 1475-80,38142,Bourges (Place),"Bourges, France",https://iiif.lib.harvard.edu/manifests/drs:497...,354463|351329|741031|741991|742134,"1983, Cambridge (Mass), p. 34 n° 16, fig.|Bond...",741340,"Digital Scriptorium, http://ds.lib.berkeley.ed...",France
3,6494,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Typ 1000,NaN,NaN,715765,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,"ff.162 ( numbered ff. 171, lacking ff. 144, 14...",83,57,54,36,NaN,NaN,Humanistique,NaN,NaN,1501,1550,c. 1500-10,38068,Venezia (Place),"Venice, Italy",https://iiif.lib.harvard.edu/manifests/drs:103...,741003|742210,"Boston 2016, p. 294 n° 234|Mariani Canova 1975",741328,"Digital Scriptorium, http://ds.lib.berkeley.ed...",Italy
4,6456,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Lat 017,NaN,NaN,715762,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,141 ff. (CCLL),200,132,NaN,NaN,1.0,NaN,Hybrida,NaN,NaN,1476,1500,NaN,37638,France (Place),NaN,https://iiif.lib.harvard.edu/manifests/drs:108...,356441|357556|349972|742148|742106|742300,"Light 1995, p. 23-29, pl. 31|1983, Cambridge (...",741221,"Digital Scriptorium, http://ds.lib.berkeley.ed...",France

In [216]:
df['leaf dimensions : height (mm)'] = pd.to_numeric(df['leaf dimensions : height (mm)'], errors='coerce')
df['origDate'] = pd.to_numeric(df['origDate'], errors='coerce')
df['origDate : from'] = pd.to_numeric(df['origDate : from'], errors='coerce')
df['origDate : to'] = pd.to_numeric(df['origDate : to'], errors='coerce')
df['Country'] = df['Country'].astype(str)

In [230]:
print(df['leaf dimensions : height (mm)'].dtypes)
print(sorted(df['leaf dimensions : height (mm)'].unique()))
# print(df['origDate'].dtypes)
print(sorted(df['origDate'].unique()))
print(df['origDate : from'].dtypes)
print(sorted(df['origDate : from'].unique()))
print(df['origDate : to'].dtypes)
print(sorted(df['origDate : to'].unique()))
print(df['Country'].dtypes)
print(sorted(df['Country'].unique()))

float64
[30.0, 35.0, 40.0, 44.0, 46.0, 48.0, 50.0, 54.0, 55.0, 56.0, 59.0, 60.0, 62.0, 63.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 121.0, 122.0, 123.0, 124.0, 125.0, 126.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 133.0, 134.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 143.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162.0, 163.0, 164.0, 165.0, 166.0, 167.0, 168.0, 169.0, 170.0, 171.0, 172.0, 173.0, 174.0, 175.0, 176.0, 177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 195.0, 196.0, 197.0, 198.0, 199.0, 200.0, 201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0, 210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0, 219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0, 227.0, 228.0, 229.0, 230.0, 231.0, 232.0, 233.0, 234.0, 235.0, 236.0, 237.0, 238.0, 239.0, 240.0, 241.0, 242.0, 243.0, 244.0, 245.0, 246.0, 247.0, 248.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 257.0, 258.0, 259.0, 260.0, 262.0, 263.0, 264.0, 265.0, 266.0, 267.0, 268.0, 269.0, 270.0, 271.0, 272.0, 273.0, 274.0, 275.0, 277.0, 278.0, 280.0, 281.0, 282.0, 283.0, 284.0, 285.0, 286.0, 290.0, 292.0, 294.0, 295.0, 297.0, 300.0, 302.0, 303.0, 304.0, 305.0, 308.0, 312.0, 313.0, 314.0, 318.0, 320.0, 322.0, 323.0, 324.0, 325.0, 326.0, 327.0, 329.0, 331.0, 335.0, 336.0, 345.0, 346.0, 347.0, 350.0, 355.0, 360.0, 365.0, 367.0, 370.0, 390.0, 395.0, 400.0, 405.0, 408.0, 410.0, 415.0, 417.0, 420.0, 460.0, 480.0, 540.0, 560.0, 750.0, 880.0, 1130.0]
[nan, 1261.0, 1270.0, 1282.0, 1320.0, 1383.0, 1387.0, 1390.0, 1395.0, 1398.0, 1401.0, 1402.0, 1408.0, 1409.0, 1411.0, 1412.0, 1413.0, 1417.0, 1418.0, 1420.0, 1422.0, 1424.0, 1426.0, 1428.0, 1431.0, 1433.0, 1434.0, 1437.0, 1442.0, 1443.0, 1444.0, 1445.0, 1448.0, 1449.0, 1450.0, 1451.0, 1452.0, 1453.0, 1455.0, 1456.0, 1457.0, 1458.0, 1459.0, 1460.0, 1463.0, 1464.0, 1465.0, 1466.0, 1467.0, 1468.0, 1469.0, 1470.0, 1471.0, 1472.0, 1474.0, 1475.0, 1476.0, 1477.0, 1478.0, 1479.0, 1480.0, 1481.0, 1482.0, 1483.0, 1484.0, 1485.0, 1486.0, 1487.0, 1488.0, 1489.0, 1490.0, 1491.0, 1492.0, 1493.0, 1494.0, 1495.0, 1496.0, 1497.0, 1498.0, 1500.0, 1501.0, 1502.0, 1503.0, 1505.0, 1506.0, 1507.0, 1508.0, 1511.0, 1513.0, 1515.0, 1516.0, 1517.0, 1518.0, 1519.0, 1520.0, 1521.0, 1524.0, 1525.0, 1526.0, 1527.0, 1528.0, 1529.0, 1531.0, 1532.0, 1533.0, 1535.0, 1536.0, 1537.0, 1540.0, 1541.0, 1544.0, 1546.0, 1549.0, 1551.0, 1552.0, 1555.0, 1557.0, 1560.0, 1573.0, 1576.0, 1581.0, 1583.0, 1587.0, 1589.0, 1591.0, 1598.0, 1599.0, 1609.0, 1618.0, 1619.0, 1640.0, 1643.0, 1647.0, 1668.0, 1688.0, 1842.0, 1934.0]
float64
[1000.0, 1101.0, 1200.0, 1201.0, 1235.0, 1250.0, 1255.0, 1270.0, 1275.0, 1280.0, 1286.0, 1290.0, 1300.0, 1301.0, 1310.0, 1325.0, 1330.0, 1340.0, 1350.0, 1380.0, 1387.0, 1390.0, 1400.0, 1401.0, 1420.0, 1422.0, 1425.0, 1430.0, 1440.0, 1450.0, 1451.0, 1454.0, 1455.0, 1458.0, 1460.0, 1465.0, 1470.0, 1475.0, 1476.0, 1480.0, 1485.0, 1490.0, 1491.0, 1495.0, 1500.0, 1501.0, nan, 1151.0, 1152.0, 1175.0, 1180.0, 1190.0, 1210.0, 1225.0, 1230.0, 1240.0, 1247.0, 1251.0, 1260.0, 1264.0, 1265.0, 1276.0, 1277.0, 1281.0, 1296.0, 1308.0, 1316.0, 1320.0, 1324.0, 1326.0, 1331.0, 1336.0, 1338.0, 1345.0, 1351.0, 1353.0, 1360.0, 1361.0, 1365.0, 1367.0, 1370.0, 1373.0, 1375.0, 1376.0, 1381.0, 1382.0, 1385.0, 1386.0, 1391.0, 1392.0, 1395.0, 1396.0, 1397.0, 1398.0, 1399.0, 1402.0, 1403.0, 1405.0, 1407.0, 1408.0, 1410.0, 1412.0, 1413.0, 1414.0, 1415.0, 1417.0, 1419.0, 1424.0, 1426.0, 1427.0, 1428.0, 1429.0, 1432.0, 1433.0, 1434.0, 1435.0, 1436.0, 1437.0, 1438.0, 1441.0, 1442.0, 1444.0, 1445.0, 1446.0, 1447.0, 1449.0, 1452.0, 1456.0, 1457.0, 1461.0, 1462.0, 1463.0, 1464.0, 1466.0, 1467.0, 1468.0, 1469.0, 1471.0, 1472.0, 1473.0, 1474.0, 1477.0, 1478.0, 1479.0, 1481.0, 1482.0, 1483.0, 1484.0, 1486.0, 1487.0, 1488.0, 1492.0, 1493.0, 1494.0, 1496.0, 1497.0, 1498.0, 1499.0, 1502.0, 1503.0, 1504.0, 1505.0, 1506.0, 1507.0, 1508.0, 1509.0, 1510.0, 1511.0, 1512.0, 1513.0, 1515.0, 1516.0, 1517.0, 1519.0, 1520.0, 1521.0, 1522.0, 1523.0, 1524.0, 1525.0, 1526.0, 1527.0, 1528.0, 1530.0, 1533.0, 1536.0, 1537.0, 1539.0, 1540.0, 1544.0, 1545.0, 1546.0, 1547.0, 1550.0, 1551.0, 1555.0, 1559.0, 1561.0, 1566.0, 1570.0, 1572.0, 1576.0, 1583.0, 1600.0, 1601.0, 1680.0, 1701.0, 1801.0, 1840.0]
float64
[1200.0, 1210.0, 1220.0, 1230.0, 1247.0, 1250.0, 1260.0, 1265.0, 1270.0, 1275.0, 1280.0, 1290.0, 1300.0, 1310.0, 1311.0, 1320.0, 1325.0, 1328.0, 1330.0, 1350.0, 1360.0, 1370.0, 1375.0, 1385.0, 1387.0, 1390.0, 1400.0, 1401.0, 1410.0, 1415.0, 1416.0, 1417.0, 1418.0, 1420.0, 1422.0, 1425.0, 1427.0, 1430.0, 1432.0, 1433.0, 1435.0, 1436.0, 1437.0, 1439.0, 1440.0, 1442.0, 1445.0, 1450.0, 1452.0, 1455.0, 1456.0, 1457.0, 1458.0, 1460.0, 1461.0, 1465.0, 1466.0, 1467.0, 1470.0, 1475.0, 1476.0, 1477.0, 1479.0, 1480.0, 1482.0, 1483.0, 1485.0, 1487.0, 1490.0, 1492.0, 1495.0, 1497.0, 1498.0, 1499.0, 1500.0, 1501.0, 1502.0, 1504.0, 1507.0, 1510.0, 1511.0, 1513.0, 1515.0, 1517.0, 1519.0, 1521.0, 1524.0, 1529.0, 1533.0, 1550.0, nan, 1100.0, 1173.0, 1240.0, 1255.0, 1297.0, 1299.0, 1308.0, 1315.0, 1329.0, 1331.0, 1335.0, 1340.0, 1351.0, 1353.0, 1355.0, 1373.0, 1380.0, 1381.0, 1386.0, 1395.0, 1396.0, 1398.0, 1399.0, 1405.0, 1408.0, 1411.0, 1412.0, 1414.0, 1419.0, 1421.0, 1423.0, 1424.0, 1428.0, 1429.0, 1438.0, 1444.0, 1448.0, 1449.0, 1451.0, 1454.0, 1462.0, 1463.0, 1464.0, 1468.0, 1469.0, 1471.0, 1472.0, 1473.0, 1474.0, 1478.0, 1481.0, 1484.0, 1486.0, 1488.0, 1489.0, 1491.0, 1493.0, 1494.0, 1496.0, 1503.0, 1505.0, 1506.0, 1508.0, 1509.0, 1512.0, 1514.0, 1516.0, 1518.0, 1520.0, 1522.0, 1523.0, 1525.0, 1526.0, 1527.0, 1528.0, 1530.0, 1531.0, 1532.0, 1534.0, 1535.0, 1536.0, 1538.0, 1539.0, 1540.0, 1541.0, 1542.0, 1544.0, 1545.0, 1551.0, 1552.0, 1554.0, 1555.0, 1557.0, 1560.0, 1561.0, 1564.0, 1565.0, 1566.0, 1570.0, 1571.0, 1572.0, 1575.0, 1576.0, 1583.0, 1592.0, 1600.0, 1680.0, 1700.0, 1800.0, 1860.0, 1900.0]
object
['Austria', 'Belgium', 'Belgium|Belgium', 'Belgium|Belgium|Belgium', 'Belgium|Belgium|France', 'Belgium|Belgium|Netherlands', 'Belgium|Belgium|Netherlands|Belgium', 'Belgium|France', 'Belgium|France|France', 'Belgium|France|Netherlands', 'Belgium|Netherlands', 'Belgium|UK', 'Czech Republic', 'France', 'France|Belgium', 'France|Belgium|Belgium', 'France|Belgium|Belgium|Netherlands', 'France|France', 'France|France|France', 'France|France|France|France', 'France|France|Italy', 'France|France|Switzerland', 'France|Italy', 'France|Netherlands', 'France|Netherlands|Belgium', 'France|Netherlands|France', 'France|UK', 'Germany', 'Germany|Austria', 'Italy', 'Italy|Italy', 'Italy|Italy|Italy', 'Lithuania', 'Netherlands', 'Netherlands|Belgium', 'Netherlands|Belgium|Belgium', 'Netherlands|Belgium|France', 'Netherlands|Belgium|Netherlands', 'Netherlands|Belgium|UK', 'Netherlands|France', 'Netherlands|France|Belgium', 'Netherlands|France|Belgium|Belgium', 'Netherlands|France|Belgium|Belgium|Belgium', 'Netherlands|Netherlands', 'Poland', 'Portugal', 'Portugal|Portugal', 'Romania', 'Spain', 'Spain|Belgium|Netherlands', 'Sweden', 'Switzerland', 'Switzerland|Switzerland', 'UK', 'UK|Belgium', 'UK|France', 'UK|France|France', 'UK|UK', 'nan', '|Austria', '|France|France', '|Netherlands']

In [218]:
# Define a function to calculate the "origDate-avg"
def calculate_origDate_avg(row):
    if not pd.isna(row['origDate']):
        return row['origDate']
    elif not pd.isna(row['origDate : from']) and not pd.isna(row['origDate : to']):
        return (row['origDate : from'] + row['origDate : to']) / 2
    else:
        return np.nan

# Apply the function to create the new column
df['origDate-avg'] = df.apply(calculate_origDate_avg, axis=1)
# df['origDate-avg'] = df['origDate-avg'].round().astype(int)

In [219]:
df.head()

,Manuscript H-ID,repository_key (Organisation) H-ID,repository_key (Organisation) Record Title,idno,altIdentifier,idMedium,msItem H-ID,rec_Title_2,Work H-ID,Work Record Title,number of volume,support,extent,leaf dimensions : height (mm),leaf dimensions : width (mm),justification : height (mm),justification : width (mm),columns,writtenLines,script type,formality,origDate,origDate : from,origDate : to,origDate : proposed date,origPlace (relationship marker) H-ID,origPlace (relationship marker) Record Title,origPlace : proposed origin,iiif manifest,bibl H-ID,bibl Record Title,external link (Web site / page) H-ID,external link (Web site / page) Record Title,Country,origDate-avg
0,433,739889,"Montréal, McGill University Library (Organisat...",101,NaN,100086833.0,737250,"Montréal, McGill University Library, 101 : Hou...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,053 ff. (CCLL)|53 ff.,NaN,NaN,98,60,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37509,Brugge (Place),Bruges,NaN,352571|737330,"De Ricci et Wilson 1935-1937, II, p. 2212|Dunn...",325568,"McGill Digital Library, http://digital.library...",Belgium,NaN
1,734419,740297,"Maastricht, Regionaal Historisch Centrum Limbu...",ms. 48,NaN,NaN,735336,"Maastricht, Regionaal Historisch Centrum Limbu...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,105 ff. (paginated: 1-204),177.0,131,101,70,1.0,17.0,Textualis,NaN,NaN,1451.0,1475.0,third quarter 15th century,37669,Hainaut (Place),NaN,NaN,736662|736663,"Wouters 1962, no. 95|Cat. Monnikenwerk, no. 30",735403,"MMDC, http://www.mmdc.nl/static/site/search/de...",Belgium,1463.0
2,6513,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Typ 0464,NaN,NaN,715768,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,147 ff. (CCLL)|ff. 147,116.0,88,64,45,1.0,NaN,Cursiva,NaN,NaN,1480.0,1500.0,c. 1475-80,38142,Bourges (Place),"Bourges, France",https://iiif.lib.harvard.edu/manifests/drs:497...,354463|351329|741031|741991|742134,"1983, Cambridge (Mass), p. 34 n° 16, fig.|Bond...",741340,"Digital Scriptorium, http://ds.lib.berkeley.ed...",France,1490.0
3,6494,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Typ 1000,NaN,NaN,715765,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,"ff.162 ( numbered ff. 171, lacking ff. 144, 14...",83.0,57,54,36,NaN,NaN,Humanistique,NaN,NaN,1501.0,1550.0,c. 1500-10,38068,Venezia (Place),"Venice, Italy",https://iiif.lib.harvard.edu/manifests/drs:103...,741003|742210,"Boston 2016, p. 294 n° 234|Mariani Canova 1975",741328,"Digital Scriptorium, http://ds.lib.berkeley.ed...",Italy,1525.5
4,6456,740138,"Cambridge (MA), Harvard University, Houghton L...",MS Lat 017,NaN,NaN,715762,"Cambridge (MA), Harvard University, Houghton L...",75966,Hours of the Virgin | L1 | Section,NaN,parchment,141 ff. (CCLL),200.0,132,NaN,NaN,1.0,NaN,Hybrida,NaN,NaN,1476.0,1500.0,NaN,37638,France (Place),NaN,https://iiif.lib.harvard.edu/manifests/drs:108...,356441|357556|349972|742148|742106|742300,"Light 1995, p. 23-29, pl. 31|1983, Cambridge (...",741221,"Digital Scriptorium, http://ds.lib.berkeley.ed...",France,1488.0

Convert data to numeric if needed. Reduce scope.

In [220]:
# Drop rows with NaN, 0, or blank values in columns A and C
df = df.dropna(subset=['leaf dimensions : height (mm)'])
df = df[df['leaf dimensions : height (mm)'] != 0]

df.shape

(6560, 35)

In [221]:
def process_country(value):
    countries = [country.strip() for country in value.split('|') if country.strip()]
    
    # Check if all values are the same
    if len(set(countries)) == 1:
        return countries[0]
    else:
        # If multiple values, return sorted and unique values
        # return '|'.join(sorted(set(countries)))
        return 'multiple countries'

# Apply the function to create the new "Processed_Country" column
df['Processed_Country'] = df['Country'].apply(process_country)

# Categories and pivot tables

## Dimensions / Country

In [222]:
# Assuming 'df' is your DataFrame
pivot_table_avg_dimensions_by_Country = df.pivot_table(values='leaf dimensions : height (mm)', index='Processed_Country', aggfunc='mean').round(1)

# Display the pivot table
print(pivot_table_avg_dimensions_by_Country)

                    leaf dimensions : height (mm)
Processed_Country
Austria                                     130.2
Belgium                                     162.2
Czech Republic                              161.2
France                                      173.2
Germany                                     128.3
Italy                                       133.3
Lithuania                                   150.0
Netherlands                                 156.1
Poland                                      109.5
Portugal                                    120.0
Romania                                     160.0
Spain                                       163.8
Sweden                                      145.4
Switzerland                                 172.4
UK                                          174.7
multiple countries                          171.5
nan                                         162.3

## Dimensions by DateRange (span of 50 years)

In [223]:
# Convert 'origDate-avg' to numeric, coercing errors to NaN
df['origDate-avg'] = pd.to_numeric(df['origDate-avg'], errors='coerce')

# Create a new column for the date range categories
bins = range(1001, 2001, 50)
labels = [f"{start}-{start+49}" for start in bins[:-1]]
df['DateRange'] = pd.cut(df['origDate-avg'], bins=bins, labels=labels, right=False)

In [224]:
pivot_table_avg_dimensions_by_DateRange = df.pivot_table(values='leaf dimensions : height (mm)', index='DateRange', aggfunc='mean').round(1)

# Display the pivot table
print(pivot_table_avg_dimensions_by_DateRange)

           leaf dimensions : height (mm)
DateRange
1001-1050                          350.0
1101-1150                          167.5
1151-1200                          223.1
1201-1250                          214.4
1251-1300                          176.6
1301-1350                          156.2
1351-1400                          160.1
1401-1450                          165.2
1451-1500                          161.1
1501-1550                          162.0
1551-1600                          175.5
1601-1650                          150.1
1651-1700                          236.0
1701-1750                          129.0
1801-1850                          124.6
1901-1950                          193.0

In [225]:
# Pivot table for average dimensions by DateRange and Country
pivot_table_avg_dimensions = df.pivot_table(
    values='leaf dimensions : height (mm)',
    index=['DateRange', 'Processed_Country'],
    aggfunc='mean',
    margins=True,  # Add subtotals
    margins_name='missing',  # Specify the name for the subtotal row
).round(1)

In [226]:
pivot_table_avg_dimensions

                              leaf dimensions : height (mm)
DateRange Processed_Country
1001-1050 nan                                         350.0
1101-1150 France                                      175.0
          Germany                                     160.0
1151-1200 France                                      228.0
          Germany                                     189.0
          nan                                         227.3
1201-1250 Belgium                                     180.2
          France                                      195.0
          Germany                                     250.0
          UK                                          227.2
          multiple countries                          167.0
          nan                                         220.6
1251-1300 Belgium                                     159.2
          France                                      207.4
          Germany                                     119.0
          Italy                                       124.3
          Netherlands                                 167.5
          Switzerland                                 335.0
          UK                                          158.0
          multiple countries                          186.0
          nan                                         171.2
1301-1350 Belgium                                     138.0
          Czech Republic                              245.0
          France                                      154.2
          Germany                                     117.5
          Italy                                       149.0
          Netherlands                                 149.0
          Spain                                       160.0
          UK                                          219.5
          nan                                         155.9
1351-1400 Austria                                     141.0
          Belgium                                     139.7
          France                                      162.1
          Germany                                     122.0
          Italy                                       156.4
          Netherlands                                 161.2
          UK                                          195.9
          multiple countries                          172.5
          nan                                         158.2
1401-1450 Austria                                     140.0
          Belgium                                     166.2
          Czech Republic                              127.5
          France                                      175.5
          Germany                                     128.7
          Italy                                       123.6
          Lithuania                                   140.0
          Netherlands                                 148.7
          Spain                                       160.0
          Sweden                                      135.0
          Switzerland                                 100.0
          UK                                          157.3
          multiple countries                          182.0
          nan                                         165.3
1451-1500 Austria                                     120.0
          Belgium                                     160.6
          Czech Republic                              180.0
          France                                      170.9
          Germany                                     117.1
          Italy                                       132.7
          Lithuania                                   152.5
          Netherlands                                 159.7
          Poland                                       86.0
          Spain                                       163.0
          Sweden                                      175.0
          Switzerland                                 166.8
          UK                                          210.7
          multiple countries                          162.1
          nan                                         159.5
1501-1550 Belgium                                     163.3
          Czech Republic                              130.0
          France                                      174.9
          Germany                                     122.8
          Italy                                       151.7
          Netherlands                                 148.3
          Poland                                      133.0
          Portugal                                    142.0
          Romania                                     160.0
          Sweden                                      141.0
          Switzerland                                 105.0
          multiple countries                          177.4
          nan                                         159.0
1551-1600 Belgium                                     142.7
          France                                      182.2
          Italy                                        95.5
          nan                                         183.9
1601-1650 France                                      164.0
          Germany                                     117.5
          Italy                                       207.7
          Spain                                       175.0
          nan                                         131.8
1651-1700 France                                      297.0
          nan                                         205.5
1701-1750 nan                                         129.0
1801-1850 UK                                          105.0
          nan                                         137.7
1901-1950 nan                                         193.0
missing                                               163.2

In [227]:
# Pivot table for average dimensions by DateRange and Country
pivot_table_avg_dimensions_full = df.pivot_table(
    values=['leaf dimensions : height (mm)', 'Manuscript H-ID'],
    index=['DateRange', 'Processed_Country'],
    aggfunc={'leaf dimensions : height (mm)': 'mean', 'Manuscript H-ID': 'count'},
    margins=True,  # Add subtotals
    margins_name='missing',  # Specify the name for the subtotal row
).round(1)

pivot_table_avg_dimensions_full.head()

                             Manuscript H-ID  leaf dimensions : height (mm)
DateRange Processed_Country
1001-1050 Austria                          0                            NaN
          Belgium                          0                            NaN
          Czech Republic                   0                            NaN
          France                           0                            NaN
          Germany                          0                            NaN

# Correlation (khi2)

## Date and Country

In [228]:
# Create a contingency table
contingency_table = pd.crosstab(df['Processed_Country'], df['DateRange'])

# Perform the chi-squared test
chi2, p, _, _ = chi2_contingency(contingency_table)

# Print the results
print(f"Chi-squared value: {chi2}")
print(f"P-value: {p}")

Chi-squared value: 685.9016554073268
P-value: 1.5445067941457784e-44

## Size and Date

In [234]:
# Create a new column for the date range categories
bins = range(0, 900, 20)
labels = [f"{start}-{start+19}" for start in bins[:-1]]
df['heightRange'] = pd.cut(df['leaf dimensions : height (mm)'], bins=bins, labels=labels, right=False)


# Create a contingency table
contingency_table = pd.crosstab(df['heightRange'], df['DateRange'])

# Perform the chi-squared test
chi2, p, _, _ = chi2_contingency(contingency_table)

# Print the results
print(f"Chi-squared value: {chi2}")
print(f"P-value: {p}")

Chi-squared value: 2125.7883044087607
P-value: 7.846989457049216e-242

## Country and Size

In [235]:
# Create a contingency table
contingency_table = pd.crosstab(df['heightRange'], df['Country'])

# Perform the chi-squared test
chi2, p, _, _ = chi2_contingency(contingency_table)

# Print the results
print(f"Chi-squared value: {chi2}")
print(f"P-value: {p}")

Chi-squared value: 2179.00411141994
P-value: 4.857588947833162e-26